@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* MEDIA QUERIES */
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 80%;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 100%;
  }
}

html body {
  width: 100%;
  height: 100vh;
  background: #af8b2d;
  background: -webkit-gradient(linear, left top, right top, from(#af8b2d), to(#add4a6));
  background: linear-gradient(90deg, #af8b2d 0%, #add4a6 100%);
}

html body header h1 {
  font-size: 2.8rem;
  margin: 0.2em;
}

@media only screen and (min-width: 320px) {
  html body header h1 {
    opacity: 0;
  }
}

@media only screen and (min-width: 768px) {
  html body header h1 {
    opacity: 1;
  }
}

html body .instructions h4 {
  text-align: center;
}

@media only screen and (min-width: 320px) {
  html body .instructions h4 {
    width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  html body .instructions h4 {
    width: 100%;
  }
}

html body .container .start-game {
  text-align: center;
  display: none;
}

html body .container .start-game .start-game-btn {
  border: none;
  border-radius: 5px 5px;
  height: 3em;
  width: 13em;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: lightyellow;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
  pointer-events: none;
}

html body .container .start-game .start-game-btn:hover {
  cursor: pointer;
  background-color: linen;
}

html body .container .start-game .start-game-btn:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

html body .container .msg-status-player {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1em;
  height: 1.5em;
}

html body .container .msg-status-comp {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  height: 1.5em;
}

html body .container .boards-wrapper {
  margin-top: -2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 320px) {
  html body .container .boards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 576px) {
  html body .container .boards-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

html body .container .boards-wrapper h3 {
  text-align: center;
}

html body .container .boards-wrapper .player-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25em;
  height: 25em;
}

html body .container .boards-wrapper .player-board .mouse-in {
  background-color: #ffefd5;
  cursor: pointer;
}

html body .container .boards-wrapper .player-board .mouse-leave {
  background-color: transparent;
}

html body .container .boards-wrapper .computer-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25em;
  height: 25em;
}

html body .container .boards-wrapper .comp-square {
  border: 1px solid black;
  width: 2.5em;
  height: 2.5em;
}

html body .container .boards-wrapper .comp-square:hover {
  cursor: pointer;
  background-color: lightyellow;
}

html body .container .boards-wrapper .square {
  border: 1px solid black;
  width: 2.5em;
  height: 2.5em;
}

html body .container .boards-wrapper .missed {
  background-color: maroon;
}

html body .container .boards-wrapper .hit {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding-top: 0.5em;
  background-color: mediumseagreen !important;
}

html body .container .console-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .container .console-div .confirm-btn {
  border: none;
  border-radius: 5px 5px;
  height: 3.5em;
  width: 12em;
  margin: 1em;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  background-color: lightyellow;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
}

html body .container .console-div .confirm-btn:hover {
  cursor: pointer;
  background-color: linen;
}

html body .container .console-div .confirm-btn:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

html body .container .console-div .clear-btn {
  display: none;
  height: 3.5em;
  width: 6em;
  margin: 1em;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  background-color: lightyellow;
  border: none;
  border-radius: 5px 5px;
  width: 7em;
}

html body .container .console-div .clear-btn:hover {
  cursor: pointer;
  background-color: linen;
}

html body .container .console-div .clear-btn:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

html body .container .console-div .horizontal-mode-btn {
  display: none;
  height: 3.5em;
  width: 7em;
  margin: 1em;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 600;
  background-color: lightyellow;
  border: none;
  border-radius: 5px 5px;
  width: 7em;
}

html body .container .console-div .horizontal-mode-btn:hover {
  cursor: pointer;
  background-color: linen;
}

html body .container .console-div .horizontal-mode-btn:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

html body .container .ship-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html body .container .ship-wrapper .boat:hover {
  cursor: pointer;
}

html body .container .ship-wrapper .destroyer {
  margin: 2em;
  background-color: #cd853f;
}

html body .container .ship-wrapper .destroyer .ship {
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

html body .container .ship-wrapper .cruiser {
  margin: 2em;
  background-color: #cd853f;
}

html body .container .ship-wrapper .cruiser .ship {
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

html body .container .ship-wrapper .battleship {
  margin: 2em;
  background-color: #cd853f;
}

html body .container .ship-wrapper .battleship .ship {
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

html body .container .ship-wrapper .submarine {
  margin: 2em;
  background-color: #cd853f;
}

html body .container .ship-wrapper .submarine .ship {
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

html body .container .ship-wrapper .selected {
  border: 2px solid green;
  border-radius: 5px 5px;
  padding: 0.5em;
}

html body .container .ship-wrapper .hidden {
  opacity: 0;
}

html body footer {
  width: 100%;
  height: 2em;
  text-align: center;
  font-weight: 600;
}

html body footer a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */