@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #af8b2d;
  background: -webkit-gradient(linear, left top, right top, from(#af8b2d), to(#add4a6));
  background: linear-gradient(90deg, #af8b2d 0%, #add4a6 100%);
}

body header h1 {
  font-size: 2.8rem;
  margin: 0;
}

body .container .start-game {
  text-align: center;
}

body .container .start-game .start-game-btn {
  border: none;
  border-radius: 5px 5px;
  height: 3em;
  width: 7em;
  font-size: 1rem;
  background-color: lightyellow;
  -webkit-box-shadow: 5px 5px 5px gray;
          box-shadow: 5px 5px 5px gray;
}

body .container .start-game .start-game-btn:hover {
  cursor: pointer;
  background-color: linen;
}

body .container .boards-wrapper {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .container .boards-wrapper h3 {
  text-align: center;
}

body .container .boards-wrapper .player-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25em;
  height: 25em;
}

body .container .boards-wrapper .player-board .mouse-in {
  background-color: blueviolet;
}

body .container .boards-wrapper .player-board .mouse-leave {
  background-color: transparent;
}

body .container .boards-wrapper .player-board .click {
  background-color: red;
}

body .container .boards-wrapper .computer-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 25em;
  height: 25em;
}

body .container .boards-wrapper .square {
  border: 1px solid black;
  width: 2.5em;
  height: 2.5em;
}

body .ship-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 3em;
}

body .ship-wrapper .destroyer {
  margin: 2em;
}

body .ship-wrapper .destroyer .ship {
  background-color: blue;
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

body .ship-wrapper .cruiser {
  margin: 2em;
}

body .ship-wrapper .cruiser .ship {
  background-color: red;
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

body .ship-wrapper .battleship {
  margin: 2em;
}

body .ship-wrapper .battleship .ship {
  background-color: pink;
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

body .ship-wrapper .submarine {
  margin: 2em;
}

body .ship-wrapper .submarine .ship {
  background-color: yellow;
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

body .ship-wrapper .carrier {
  margin: 2em;
}

body .ship-wrapper .carrier .ship {
  background-color: orange;
  border: 1px solid black;
  height: 2.5em;
  width: 2.5em;
}

body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
  text-align: center;
}

body footer a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=style.css.map */